<!DOCTYPE html>
<html>
<head>
	<title>Uze App</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- google login -->
    <meta name="google-signin-client_id" content="1079090216942-snudlc7aaui42sd9a7e4q4fk2d2t11kr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- customized css  -->
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/main_mobile.css">

<!--  -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	
	<!--  -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<!-- <script src="/js/ejs.min.js"></script> -->


</head>
<body>

<div class="">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div>
			<a class="navbar-brand" href="/"><img id="_logo" src="/img/logo.png">Uze</a>
		</div>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href="/qna">QnA<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/contact">Contact<span class="sr-only"></span></a>
	      </li>

	    	<% if(!currentUser){ %>
	    		<li class="nav-item">
		        	<a class="nav-link" href="/login">login<span class="sr-only"></span></a>
		    	</li>
		    	<li class="nav-item">
		    		<a class="nav-link" href="/signup">signup<span class="sr-only"></span></a>
		    	</li>
	  		<% }else{ %>
	  			<li class="nav-item">
	        		<a class="nav-link" href="/logout">logout<span class="sr-only"></span></a>
	    		</li>
	  		<% } %>

	    </ul>

	    <% if(currentUser){ %>
	    <span class="_logged">
	    	<a href="/userpage/<%= currentUser._id %>/myaccount"><%= currentUser.username %></a>
	    </span>
		<% } %>
	  </div>
	</nav>

	  <div class="container">
	     <% if(error && error.length > 0) { %>
	       <div class="alert alert-danger"><p><%=error %></p></div>
	     <% } %>
	     
	     <% if(success && success.length > 0) { %>
	       <div class="alert alert-success"><p><%= success %></p></div>
	     <% } %>
	  </div>
	
</div>

