<!DOCTYPE html>
<html>
<head>
	<title>Uzespace | A better era of storage awaits</title>

	<meta name="description" content="college summer storage in LA uzespace">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#5fb6e6">
	<meta name="robots" content="">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- google login -->
    <meta name="google-signin-client_id" content="1079090216942-snudlc7aaui42sd9a7e4q4fk2d2t11kr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
<!-- customized css  -->
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/main_mobile.css">
	<link rel="stylesheet" type="text/css" href="/main_pad.css">

<!-- online css lib -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
	
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"> -->


	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	
	<!--  -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAbARI9ogE8aiMvaaWX_Vi0HdvAQvJz6ng",
	    authDomain: "uzespaceapi-1516813689822.firebaseapp.com",
	    databaseURL: "https://uzespaceapi-1516813689822.firebaseio.com",
	    projectId: "uzespaceapi-1516813689822",
	    storageBucket: "uzespaceapi-1516813689822.appspot.com",
	    messagingSenderId: "1079090216942"
	  };
	  firebase.initializeApp(config);
	</script>

</head>
<body>

	<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  page_id="189982145116429"
  theme_color="#20cef5">
</div>

<div class="">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div>
			<a class="navbar-brand" href="/"><img id="_logo" src="/img/logo.png">Uze</a>
		</div>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/market" style="padding-right: 1px;">Market<span style="font-size: 0.6em; padding: 3px; padding-right: 6px; margin: 0px; color: #00aae7;">beta</span></a>
	      </li>
	      

	      <!-- <span>beta</span> -->
	      <li class="nav-item">
	      	<a class="nav-link" href="/qna">Help<% %></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/feedback">Feedback</a>
	      </li>

	    	
	    </ul>

	    <% if(!currentUser){ %>
    		<span class="nav-item">
	        	<a class="nav-link" style="padding-left: 0px;" href="/login">login</a>
	    	</span>
	    	<span class="nav-item">
	    		<a class="nav-link" style="padding-left: 0px;" href="/signup">signup</a>
	    	</span>
  		<% }else{ %> 
  		<!-- nav-item nav-link -->
  			<span class="nav-item">
        		<a class="nav-link" style="padding-left: 0px;" href="/logout">logout</a>
    		</span>
  		<% } %>

	    <% if(currentUser){ %>
	    <span class="_logged">
	    	<a href="/userpage/<%= currentUser._id %>/myaccount"><%= currentUser.username %></a>
	    </span>
		<% } %>
	  </div>
	</nav>

	  <div class="container">
	     <% if(error && error.length > 0) { %>
	       <div class="alert alert-danger"><p><%=error %></p></div>
	     <% } %>
	     
	     <% if(success && success.length > 0) { %>
	       <div class="alert alert-success"><p><%= success %></p></div>
	     <% } %>
	  </div>
	
</div>

