<% include partials/header %>

<div class="container">
	<h1 class="_textCenter jumbotron">DEMAND PAGE</h1>

	<!-- =================jquery test failed=============== -->
	<!-- <script type="text/javascript">
		$("#__test").on("click",function(){
			$(".moba").fadeToggle(400);
		});
	</script>
	<div class="moba">we r the champion</div>
	<a href="" id="__test">test</a> -->

	
	<form class="_form" action="/demanded" method="POST">
		<p class="_note" style="font-style: italic;">"Easy as 1, 2, 3"                  ———— Gary</p>

	    <!-- <div id="map"></div>
	    <script>
	      function initMap() {
	        var uluru = {lat: -25.363, lng: 131.044};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 4,
	          center: uluru
	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXgzdvX_NggJZqfYKEceahh2do7zED09c&callback=initMap">
	    </script> -->

	    <!-- ============================== location map =================== -->

	    <!-- <div id="map"></div> -->
	    <!-- <script>
	      function initMap() {
		        var uluru = {lat: thisLocation.param1, lng: thisLocation.param2};
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 13,
		          center: uluru
		        });

		        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

		        //customize marker
		        var image={
		        	// url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
		        	url: "/img/mapIcon.png",
		        	size: new google.maps.Size(84, 84),
		        	// The origin for this image is (0, 0).
					    origin: new google.maps.Point(0, 0),
					    // The anchor for this image is the base of the flagpole at (0, 32).
					    anchor: new google.maps.Point(0, 0)
		        }
		     //    var shape = {
					  //   coords: [1, 1, 1, 20, 18, 20, 18, 1],
					  //   type: 'poly'
					  // };
		        var marker = new google.maps.Marker({
		          position: uluru,
		          map: map,
		          icon: "/img/mapIcon.png"
		        });
		      }
	    </script> -->
	    <!-- =========================== form ========================= -->

	    <p></p>

	   	<hr>
	   	<h3 class=""><span style="color: #00aae7;">1/3</span> BASIC INFO</h3>

		<label>Your college<span class="_required">*</span></label>
		<div class="form-group">
	    <select class="form-control" id="exampleFormControlSelect1" name="demand[college]">
	    	<option>USC</option>
      	<option>UCLA</option>
	      <option>UCSB</option>
	    </select>
	    <div class="invalid-feedback" style="width: 100%;">
	      You must choose a college to start with
	    </div>
		</div>

	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputEmail4">First Name<span class="_required">*</span></label>
	      <input type="name" class="form-control" id="inputEmail4" placeholder="Bruce" name="demand[usernameF]" style="text-transform: uppercase;" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword4">Last Name<span class="_required">*</span></label>
	      <input type="name" class="form-control" id="inputPassword4" placeholder="Wayne" name="demand[usernameL]" style="text-transform: uppercase;" required>
	    </div>
	  </div>

<!-- 	  <div class="form-group">
	    <label for="exampleFormControlInput1">Ur email<span class="_required">*</span></label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="demand[email]" required="">
	    <div class="valid-feedback">
	        Looks good!
	      </div>
	      <div class="invalid-feedback">
	      	haha
	      </div>
	  </div> -->

	  <div class="form-group">
	    <label for="exampleFormControlInput1">Your phone number (US +1)<span class="_required">*</span></label>
	    <input type="tel" class="form-control" pattern="\d{3}\d{3}\d{4}" id="exampleFormControlInput1" placeholder="2132735477" name="demand[number]" required="">
	    <div class="invalid-feedback">
	     	Phone number input invalid
	    </div>
	  </div>

	  <div class="form-row">
	  	<% var today = new Date(); var dd = today.getDate(); dd = (dd < 10 ? "0" : "") + dd; var mm = today.getMonth()+1; mm = (mm < 10 ? "0" : "") + mm; var yyyy = today.getFullYear(); %>
	   
	    <div class="form-group col-md-6">
	      <label for="demandInputStartingDate">Starting Date<span class="_required">*</span></label>
	      <input type="date" class="form-control" id="demandInputStartingDate" min=<%= yyyy+'-'+mm+'-'+dd %> name="demand[starting]" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="demandInputEndingDate">Ending Date<span class="_required">*</span></label>
	      <input type="date" class="form-control" id="demandInputEndingDate" min=<%= yyyy+'-'+mm+'-'+dd %> name="demand[ending]" required>
	    </div>
	  </div>

	  <!-- <div class="form-group">
	    <label for="exampleFormControlSelect2">No. units u need</label>
	    <select multiple class="form-control" id="exampleFormControlSelect2">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	    </select>
	  </div> -->
	  <hr>
	  <h3 class=""><span style="color: #00aae7;">2/3</span> SIZE ESTIMATE</h3>

	  <label for="exampleFormControlSelect1">How much space do u roughly need <span class="_note">1m = 3.28ft; 1ft = 12inches</span></label>
	  <label class="_note" data-toggle="tooltip" title="The estimation is only purposed to help us roughly understand the space needed. Real price will be recalculated when boxes are stored.">&#8505;</label>
	  <div class="form-row">
	    <!-- <label class="_note" data-toggle="tooltip" title="one uze unit refers to a 76cm/30&#34;(Height) * 48cm/19&#34;(Width) * 29cm/11&#34;(Depth) sized travel case">&#8505;</label>
	     <p class="_footer">The estimation is only purposed to help us roughly understand the space needed. No accuracy is required.</p>
		
	    <select class="form-control" id="exampleFormControlSelect1" name="demand[unit]">
	      <option>1 (minimum)</option>
	      <option>10 (maximum)</option>
	    </select> -->
	    <div class="form-group col-md-4">
	  		<label>length<span class="_note">(inches)</span><span class="_required">*</span></label>
	  		<input type="number" required class="form-control" id="" placeholder="1" name="demand[length]">
	  		<div class="invalid-feedback">
		     	input invalid
		    </div>
	  	</div>
	  	<div class="form-group col-md-4">
	  		<label>height <span class="_note">(inches)</span><span class="_required">*</span></label>
	  		<input type="number" required="" class="form-control" id="" placeholder="1" name="demand[height]">
	  		<div class="invalid-feedback">
		     	input invalid
		    </div>
	  	</div>
	  	<div class="form-group col-md-4">
	  		<label>width <span class="_note">(inches)</span><span class="_required">*</span></label>
	  		<input type="number" required="" class="form-control" id="" placeholder="1" name="demand[width]">
	  		<div class="invalid-feedback">
		     	input invalid
		    </div>
	  	</div>
	  </div>
	  
	  <!-- 电脑 -->
<!--<div class="form-row">
	  	<div class="form-group col-md-3">
	  		Desktop/printer?
	  	</div>
	  	<div class="form-group col-md-3">
	  		<label>length</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="box[length]"><span> ft</span>
	  	</div>
	  	<div class="form-group col-md-3">
	  		<label>height</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="box[height]"><span> ft</span>
	  	</div>
	  	<div class="form-group col-md-3">
	  		<label>width</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="box[width]"><span> ft</span>
	  	</div>
	  </div>
 -->


	  <hr>
	  <h3 class=""><span style="color: #00aae7;">3/3</span> OTHERS</h3>

	  <div class="form-group">
	  	<label for="">Do you need pick up services?<span class="_required">*</span></label>
	  	<br>
		  <div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" id="customRadioInline1" value="yes" name="demand[d_needPickUp]" class="custom-control-input">
			  <label class="custom-control-label" for="customRadioInline1">Yes</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" id="customRadioInline2" value="no" name="demand[d_needPickUp]" class="custom-control-input">
			  <label class="custom-control-label" for="customRadioInline2">No</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" id="customRadioInline3" value="maybe" name="demand[d_needPickUp]" class="custom-control-input">
			  <label class="custom-control-label" for="customRadioInline3">Maybe(decide later)</label>
			</div>
	  </div>

	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Any special needs?</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" name="demand[special]" rows="2" placeholder="Temperature control, Humidity control etc."></textarea>
	  </div>
	  <!-- <div class="form-group">
	    <label for="uploadAnImage">image of Ur boxes<span class="_note">(no other files accepted)</span></label>
	    <input type="file" accept="image/*" name="demand[img]" class="form-control-file" id="uploadAnImage">
	  </div> -->

	  <!-- ======================= modal ======================= -->
	  <!-- Button trigger modal -->
		<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
		  Terms & agreement
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Uzer terms</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<h4>How it works:</h4>
		      	<ol>
		      		<li>Fill the uzer form</li>
		      		<li>We will verify the info U provided</li>
		      		<li>We will pair U up with a space provider</li>
							<li>We will exchange ur basic need query with the space provider</li>
							<li>The space provider pay the deposit</li>
							<li>Space providers reach out to uzers</li>
							<li>Confirm the order and checkout</li>
							<li>Service delivery</li>
		      	</ol>
		      	<h4>User Agreement</h4>
		      	<ol>
		      		<li>Reserve fees are required for the order to start taking effect after your request is matched with a supplier.</li>
		      		<li>Reserve fees are not refundable.</li>
		      		<li>Full payment will be required after boxes have been packed up and stored in the supplier's space after mutual confirmation between uzers and suppliers.</li>
		      	</ol>
		      	<input type="checkbox" id="userAgreementCheckBox" name="" value=""> I agree to be a Uzer
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>	

		<p>If you have any confusions check out the <a href="/qna" target="_blank">Q&A</a> section or message our customer support on the bottom right</p>

<!-- ======================== submit/validate terms agreement ===================== -->
		<button class="btn btn-outline-primary" type="submit" id="demandSubmitButton" disabled="">Submit</button>
		<script type="">
			var checkbox = document.querySelector("#userAgreementCheckBox");
			var submitButton = document.querySelector("#demandSubmitButton");

			// checkbox.addEventListener("change", function(){
			// 	submitButton.disabled = !submitButton.disabled;
			// });

			$('#userAgreementCheckBox').change(function(){
		    if($(this).is(':checked')) {
		        submitButton.disabled = false;
		    } else {
		        // Checkbox is not checked..
		        submitButton.disabled = true;
		    }
			});
		</script>
		<!-- <input class="btn btn-outline-primary" type="submit" id="demandSubmitButton" name=""> -->
	</form>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>




</div>

<% include partials/footer %>