<% include partials/header %>

	<div class="container _textCenter">
		<h1>thank you for using Uze!</h1>
		<h1>You have succesfully demanded a storage! :)</h1>
		<h2>We will get back to you through email/number ASAP</h2>
		<a href="/" type="" class="btn btn-outline-primary">return Home</a>
	</div>
<% include partials/footer %>