<% include partials/header %>
<!-- included var: currentUser, foundDemand, -->

<div class="container">

	<div class="container _textCenter">
		<h1>Congratulations on your demand posted :)</h1>
		<hr>
		<p>We will get back to you through <span style="color: #5fb6e6">email/number</span> ASAP when we find a match for your request (usually in 12 hours). You can alwasy check your requests <a href="/userpage/<%=currentUser._id%>/myaccount">here</a></p>

		<p>If you have any questions, please dont hesitate to contact us through the contact tab or <a href="https://www.facebook.com/uzespace/" target="_blank">facebook page</a></p>
		<a href="/" type="" class="btn btn-outline-primary">return Home</a>
	</div>
</div>

<% include partials/footer %>