<% include partials/header %>

<div class="container">
	<h1 class="_textCenter jumbotron">DEMAND PAGE</h1>

	<!-- =================jquery test failed=============== -->
	<!-- <script type="text/javascript">
		$("#__test").on("click",function(){
			$(".moba").fadeToggle(400);
		});
	</script>
	<div class="moba">we r the champion</div>
	<a href="" id="__test">test</a> -->

	
	<form class="_form" action="/demanded" method="POST">
		<h4>Maps Demo</h4>
	    <!-- <div id="map"></div>
	    <script>
	      function initMap() {
	        var uluru = {lat: -25.363, lng: 131.044};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 4,
	          center: uluru
	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXgzdvX_NggJZqfYKEceahh2do7zED09c&callback=initMap">
	    </script> -->

	    <!-- ============================== location map =================== -->

	    <div id="map"></div>
	    <script>
	      function initMap() {
		        var uluru = {lat: <%= thisLocation.param1 %>, lng: <%= thisLocation.param2 %>};
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 13,
		          center: uluru
		        });

		        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

		        //customize marker
		        var image={
		        	// url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
		        	url: "/img/mapIcon.png",
		        	size: new google.maps.Size(84, 84),
		        	// The origin for this image is (0, 0).
					    origin: new google.maps.Point(0, 0),
					    // The anchor for this image is the base of the flagpole at (0, 32).
					    anchor: new google.maps.Point(0, 0)
		        }
		     //    var shape = {
					  //   coords: [1, 1, 1, 20, 18, 20, 18, 1],
					  //   type: 'poly'
					  // };
		        var marker = new google.maps.Marker({
		          position: uluru,
		          map: map,
		          icon: "/img/mapIcon.png"
		        });
		      }
	    </script>

	    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbARI9ogE8aiMvaaWX_Vi0HdvAQvJz6ng&callback=initMap">
					</script>

	    <!-- =========================== form ========================= -->

	    <p></p>

		<div class="form-group">
			<label>Ur college<span class="_required">*</span></label>
		  <div class="input-group">
	        <div class="input-group-prepend">
	          <span class="input-group-text">@</span>
	        </div>
	        <input type="text" class="form-control" id="username" placeholder="ucsb" name="demand[college]" required>
	        <div class="invalid-feedback" style="width: 100%;">
	          Your college name is required.
	        </div>
	      </div>
		</div>

	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputEmail4">Ur name<span class="_required">*</span></label>
	      <input type="name" class="form-control" id="inputEmail4" placeholder="Bobby" name="demand[usernameF]" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword4">Ur invitation code (Optional)</label>
	      <input disabled type="name" class="form-control" id="inputPassword4" placeholder="uzespace2018@usc" name="demand[code]">
	    </div>
	  </div>

<!-- 	  <div class="form-group">
	    <label for="exampleFormControlInput1">Ur email<span class="_required">*</span></label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="demand[email]" required="">
	    <div class="valid-feedback">
	        Looks good!
	      </div>
	      <div class="invalid-feedback">
	      	haha
	      </div>
	  </div> -->

	  <div class="form-group">
	    <label for="exampleFormControlInput1">Ur number<span class="_required">*</span></label>
	    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="2132735477" name="demand[number]" required="">
	  </div>

	  <div class="form-group">
	    <label for="exampleFormControlSelect1">number of uze units U need<span class="_required">*</span></label>
	     <label class="_note" data-toggle="tooltip" title="one uze unit refers to 76cm/30&#34;(Height) * 48cm/19&#34;(Width) * 29cm/11&#34;(Depth) ">&#8505;</label>
		
	    <select class="form-control" id="exampleFormControlSelect1" name="demand[unit]">
	      <option>1 (minimum)</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <% for(let i=5;i<10;i++){ %>
	     	 <option><%=i%></option>
	   		<% } %>
	      <option>10 (maximum)</option>
	    </select>
	  </div>

	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="demandInputStartingDate">Starting Date<span class="_required">*</span></label>
	      <input type="date" class="form-control" id="demandInputStartingDate" min="2018-03-15" name="demand[starting]" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="demandInputEndingDate">Ending Date<span class="_required">*</span></label>
	      <input type="date" class="form-control" id="demandInputEndingDate" placeholder="08/18/2018" name="demand[ending]" required>
	    </div>
	  </div>
	  <!-- <div class="form-group">
	    <label for="exampleFormControlSelect2">No. units u need</label>
	    <select multiple class="form-control" id="exampleFormControlSelect2">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	    </select>
	  </div> -->

	  
	  <div class="form-row">
	  	<div class="form-group col-md-3">
	  		<label>weight</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="demand[weight]"><span> lbs</span>
	  	</div>
	  	<div class="form-group col-md-3">
	  		<label>length</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="demand[length]"><span> ft</span>
	  	</div>
	  	<div class="form-group col-md-3">
	  		<label>height</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="demand[height]"><span> ft</span>
	  	</div>
	  	<div class="form-group col-md-3">
	  		<label>width</label>
	  		<input type="number" class="form-control" id="" placeholder="1" name="demand[width]"><span> ft</span>
	  	</div>
	  </div>

	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">any special needs?</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" name="demand[special]" rows="2"></textarea>
	  </div>
	  <!-- <div class="form-group">
	    <label for="uploadAnImage">image of Ur boxes<span class="_note">(no other files accepted)</span></label>
	    <input type="file" accept="image/*" name="demand[img]" class="form-control-file" id="uploadAnImage">
	  </div> -->

	  <!-- ======================= modal ======================= -->
	  <!-- Button trigger modal -->
		<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
		  Terms & agreement
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Uzer terms</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<h4>How it works:</h4>
		      	<ol>
		      		<li>Fill the uzer form</li>
		      		<li>We will verify the info U provided</li>
		      		<li>We will pair U up with a space provider</li>
					<li>We will exchange ur basic need query with the space provider</li>
					<li>The space provider pay the deposit</li>
					<li>Space providers reach out to uzers</li>
					<li>Confirm the order and checkout</li>
					<li>Service delivery</li>
		      	</ol>
		      	<input type="checkbox" id="userAgreementCheckBox" name="" value=""> I agree to be a Uzer
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>	

<!-- ======================== submit/validate terms agreement ===================== -->
		<button class="btn btn-outline-primary" type="submit" id="demandSubmitButton" disabled="">Submit</button>

		<script type="">
			var checkbox = document.querySelector("#userAgreementCheckBox");
			var submitButton = document.querySelector("#demandSubmitButton");

			checkbox.addEventListener("change", function(){
				submitButton.disabled = !submitButton.disabled;
			});
		</script>
		<!-- <input class="btn btn-outline-primary" type="submit" id="demandSubmitButton" name=""> -->
	</form>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>




</div>

<% include partials/footer %>