<% include ./partials/header %>

<div id="_header">
  <label id="_headtitle">uzespace</label>
  <label id="_headtitle_mobile">uzespace</label>
  <button id="_headerDirect" class="btn btn-outline-light btn-lg">get started</button>

  <script type="text/javascript">
    $("#_headerDirect").click(function() {
      $('html, body').animate({
          scrollTop: $("#_indexButtonBlock").offset().top
      }, 2500);
    });
  </script>
  
</div>

<div class="container _main _textCenter">

  <!-- ========================= MAP =================== -->
  <div id="map"></div>
        <!-- <script>
          function initMap() {
            var uluru = {lat: , lng: };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: uluru
            });

            var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

            //customize marker
            var image={
              // url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
              url: "/img/mapIcon.png",
              size: new google.maps.Size(84, 84),
              // The origin for this image is (0, 0).
              origin: new google.maps.Point(0, 0),
              // The anchor for this image is the base of the flagpole at (0, 32).
              anchor: new google.maps.Point(0, 0)
            }
         //    var shape = {
            //   coords: [1, 1, 1, 20, 18, 20, 18, 1],
            //   type: 'poly'
            // };
            var marker = new google.maps.Marker({
              position: uluru,
              map: map,
              icon: "/img/mapIcon.png"
              });
          }
        </script> -->
        
            <script type="text/javascript">
              // Note: This example requires that you consent to location sharing when
              // prompted by your browser. If you see the error "The Geolocation service
              // failed.", it means you probably did not give permission for the browser to
              // locate you.
              var map, infoWindow;
              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 34.0227, lng: -118.28},
                  zoom: 13.3
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                  }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                  });
                } else {
                  // Browser doesn't support Geolocation
                  handleLocationError(false, infoWindow, map.getCenter());
                }
              }

              function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                                      'Error: The Geolocation service failed.' :
                                      'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
              }
            </script>

            <!-- <script type="text/javascript">

              var map;
              function initMap(){
                function success(position){
                  
                }

                function error(){
                  console.log("geolocation not suscessful");
                }

                if(!navigator.geolocation){
                  console.log('geolocation not supported in the browser');
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 34.0227, lng: -118.28},
                    zoom: 13.3
                  });
                }else{
                  console.log('geolocation supported');
                  navigator.geolocation.getCurrentPosition(function(position){
                    console.log('success');
                    var latitude  = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: latitude, lng: longitude},
                      zoom: 13
                    });
                  } , function() {
                    error();
                  });
                }
                
                // var map = new google.maps.Map(document.getElementById('map'), {
                //   zoom: 13,
                //   center: {lat: 34.0227, lng: -118.28}
                // });

                }   
            </script> -->
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLEJSAPI%>=initMap">
      </script>
      <!-- ============================== map ends ===================== -->

      <p></p>
      <div id="_indexButtonBlock" style="">
        <a href="/demand" class="btn btn-outline-primary" id="_indexButtonL">I WANT space</a>
        <a href="/supply" class="btn btn-outline-dark" id="_indexButtonR">I HAVE space</a>
      </div>

      <form class="_donateButton" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="CSZE5ZW9J6LYN">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

    <hr>

  <!-- ============ qna ============ -->
    <div class="container" style="width: 90%">
      <h3 style="color: #00aae7;" class="_textCenter">Q&A</h3>
      <div class="_questionBlock">
        <h5 class="_questionHeader">Q1. How does everything work</h5>
        <ul>
          <li><span class="_pageQna">Step one:</span> Signup with the easiest email registration system</li>
          <li><span class="_pageQna">Step two:</span> Fill the form of demand</li>
          <li><span class="_pageQna">Step Three (starting at April 30th):</span> We will assign you a house owner in 1 days</li>
          <li><span class="_pageQna">Step four:</span> Check out</li>
          <li><span class="_pageQna">Step five:</span> A courier will pick up your boxes</li>
        </ul>
      </div>

      <div clsss="_questionBlock">
        <h5 class="_questionHeader">Q2. Uze terms explained</h5>
        <ol>
          <li><span class="_pageQna">uze provider</span> The party who supplies the space.</li>
          <li><span class="_pageQna">uzer</span> The party who utilizes the space.</li>
          <li><span class="_pageQna">courier</span></span> The party who helps the delivery of boxes.</li>
          <li><span class="_pageQna">uze unit</span> Our standardized measure of volume of boxes.</li>
        </ol>
      </div>

      <div class="_questionBlock">
        <h5 class="_questionHeader">Q3. How do we keep your boxes safe</h5>
        <ol>
          <li>
            <span class="_pageQna">Deposit:</span> uze providers are charged a deposit of at least 100 when they start the registration. If they violate user terms, the deposit will be taken and they will be downgraded by rating and get less available deals or banned from using uzespace forever.
          </li>
          <li>
            <span class="_pageQna">SSN check:</span> Every uze provider’s id is bonded to their ssn, so they cant reregister after being banned.
          </li>
          <li>
            <span class="_pageQna">Ratings:</span> uze providers are required to send pictures of proof of intactness at the beginning and end of the contract period. Signed uze stickers must intact from the start to the end of each order.
          </li>
          <li>
            <span class="_pageQna">Insureance:</span> We are working with insurance companies to come up with the best solution for covering potential losses.
          </li>
        </ol>
      </div>
    </div>

    <% include ./partials/footer %>