<% include partials/header %>

	<div class="container _textCenter">
		<h1>U just became a proud uzespace provider!</h1>
		<h1>You have succesfully supplied a storage! :)</h1>
		<h2>We will get back to you through email/number ASAP when paired</h2>
		<a href="/" type="" class="btn btn-outline-primary">return Home</a>
	</div>
<% include partials/footer %>