#_myaccountListingButton{
	width: 240px; 
	background-color: lightskyblue; 
	border-color: lightskyblue;
}

#_myaccountListingButton:hover{
	background-color: DeepSkyBlue;
}

._deleteform{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

._deleteform:hover{
	transform: scale(1.3);
}
