<% include ../partials/header %>

<div class="container">
	<form class="_form" action="/activate/<%= token %>" method="POST">
		  <legend>Activate your account</legend>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Activate ur account</button>
		  </div>
		</form>
</div>

<% include ../partials/footer %>