<% include ../partials/header %>

<div class="container">
	<% thisUser.demandPosts.forEach(function(demand){ %>

		<div class="card" style="width: 18rem;">
			<div class="_cardImgBox">
				<!-- <img class="card-img-top _cardImgBoxImg" src="/img/logo2.png" alt="Do you know the way2"> -->
			</div>
		  <div class="card-body">
		    <h5 class="card-title"><%= demand.s_unit%> units place</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form action="/payment/<%= currentUser._id %>/buy/" method="post">
          <button type="submit">uzePay</button>
          <label class="_note" data-toggle="tooltip" title="If you dont have a PayPal account, choose Pay with Debit or Credit Card">&#8505;</label>
        </form>
		  </div>
		</div>

	<% }); %>


  <br>

</div>


<% include ../partials/footer %>