<% include ../partials/header %>

<div class="container _main _textCenter">

	
<div class="_textCenter" style="margin-bottom: 20px;">
	
	
	<h4 style="color: #00aae7;">Any feedbacks?</h4>
	<p>try the message channel on the bottom right corner~</p>

	<hr>
	<h3>uze tech Inc.</h3>
	<p>3131 S Hoover St, Los Angeles, 90089, CA, United States</p>
	<p>Tel: 2132735476</p>
	<a href="/emaillist" style="text-decoration: none;">Join our email list!</a>
</div>



<div id="map"></div>



<!-- ========================= MAP =================== -->

	    <script>
	      // Note: This example requires that you consent to location sharing when
	      // prompted by your browser. If you see the error "The Geolocation service
	      // failed.", it means you probably did not give permission for the browser to
	      // locate you.

	      var map, infoWindow;
	      function initMap() {
	      	var uluru = {lat: 34.0223519, lng: -118.285122};
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: uluru,
	          zoom: 14
	        });

	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
	        // infoWindow = new google.maps.InfoWindow;
	        // infoWindow.open(map);

	        	//----------------------------------- relocate to the user
	        // // Try HTML5 geolocation.
	        // if (navigator.geolocation) {
	        //   	navigator.geolocation.getCurrentPosition(function(position) {
	        //     var pos = {
	        //       lat: position.coords.latitude,
	        //       lng: position.coords.longitude
	        //     };

	        //     infoWindow.setPosition(pos);
	        //     infoWindow.setContent('Location found.');
	        //     infoWindow.open(map);
	        //     map.setCenter(pos);
	        //   }, function() {
	        //     handleLocationError(true, infoWindow, map.getCenter());
	        //   });

	        //   	//_test
	        //   	console.log("location: ");
	        // } else {
	        //   // Browser doesn't support Geolocation
	        //   handleLocationError(false, infoWindow, map.getCenter());
	        //   alert("no support for geolocation");
	        // }
	      }

	      // function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	      //   infoWindow.setPosition(pos);
	      //   infoWindow.setContent(browserHasGeolocation ?
	      //                         'Error: The Geolocation service failed.' :
	      //                         'Error: Your browser doesn\'t support geolocation.');
	      //   infoWindow.open(map);
	      // }
	    </script>

	    <hr>
	 

	    <hr>
<h4 style="color: #00aae7;">New visitors</h4>
<div class="typeform-widget" data-url="https://brucewayne1648.typeform.com/to/cbLdUh" data-transparency="20" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=cbLdUh&utm_source=typeform.com-11988118-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiZJGNbzddhCp0Y4esDRwEHuHm7TJ5oG8&callback=initMap">
	    </script>

<!-- ============================== map ends ===================== -->

	<br>
	<form class="_donateButton" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="CSZE5ZW9J6LYN">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>

<% include ../partials/footer %>