<% include ../partials/header %>

	<div class="container">

		<h2>Q&A for Uzers</h2>
		<hr>

		<div class="_questionBlock">
			<h4 class="_questionHeader">Q1. How does everything work</h4>
			<ul>
				<li><span class="_pageQna">Step one:</span> Sign up with your email</li>
				<li><span class="_pageQna">Step two:</span> Request space by click <a href="/#_indexButtonBlock">I WANT space</a>  and fill out your request form</li>
				<li><span class="_pageQna">Step Three (starting at April 30th):</span> We will assign you a house owner in 1 day</li>
				<li><span class="_pageQna">Step four:</span> A Uze courier will contact with you and schedule a pickup time</li>
				<li><span class="_pageQna">Step five:</span> Pack up you stuff and wait for courier to pick up</li>
			</ul>
		</div>

		<div clsss="_questionBlock">
			<h4 class="_questionHeader">Q2. Uze terms explained</h4>
			<ol>
				<li><span class="_pageQna">Uze (space) provider</span> The party who supplies the space.</li>
				<li><span class="_pageQna">Uzer</span> The party who utilizes the space.</li>
				<li><span class="_pageQna">courier</span></span> The party who helps the delivery of boxes.</li>
				<li><span class="_pageQna">Uze unit</span> Our standardized measure of volume of boxes. One uze unit refers to the size of a 76cm/30&#34;(Height) * 48cm/19&#34;(Width) * 29cm/11&#34;(Depth) travel case.</li>
			</ol>
		</div>

		<div class="_questionBlock">
			<h4 class="_questionHeader">Q3. How do we keep your boxes safe</h4>
			<ol>
				<li>
					<span class="_pageQna">Deposit:</span> Uze providers are charged a deposit of at least 100 when they start the registration. If they violate user terms, the deposit will be taken and they will be downgraded by ratings and get less available deals or banned from using uzespace forever.
				</li>
				<li>
					<span class="_pageQna">SSN check:</span> Every uze provider’s id is bonded to their ssn, so they cant register after being banned.
				</li>
				<li>
					<span class="_pageQna">Ratings:</span> Uze providers are required to send pictures of proof of intactness at the beginning and end of the contract period. Signed uze stickers must intact from the start to the end of each order.
				</li>
				<li>
					<span class="_pageQna">Insurance:</span> We are working with insurance companies to ensure the safety of your personal belongings and help you get compensations if anything gets damaged.
				</li>
			</ol>
		</div>
	</div>

<% include ../partials/footer %>